* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

body {
  background: hsla(208, 33%, 21%, 1);

  background: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#243748", endColorstr="#4B749F", GradientType=1 );
  color: white;
}

.nav-bar {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding:10px;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


.hero {
    display:flex;
}

.hero-introduction {
    display: flex;
    justify-content: center;
    height: 100vh;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    font-size: 3rem;
    color: #FFFACD;
    width: 300%;

    
  }
  

  .hero-introduction p {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden; 
    width: 0; 
    animation: typing 2s steps(30, end) forwards, step-end; 
  }

  /*.hero-graphic {
    display: flex;
    align-items: flex-end;
    background-color: #295F98;
    border-radius: 50%;
    width: 700%;
    padding-left: 50px;
    margin-right: -40%;
    
  }
  */
  /* Keyframe for typing effect */
  @keyframes typing {
    from {
      width: 10%;
    }
    to {
      width: 100%;
    }
  }
  